[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tornado = "*"
"psycopg2" = "*"
requests = "*"
"bs4" = "*"
sqlalchemy = "*"
tweepy = "*"
flask = "*"
python-dateutil = "*"
flask-oauth = "*"
flask-oauthlib = "*"
"beautifulsoup4" = "*"
dateutils = "*"
"psycopg2-binary" = "*"


[pipenv]

allow_prereleases = true
